---
import "../styles/global.css";
import "aos/dist/aos.css";
import Header from "../components/ui/Header.astro";
import Sidebar from "../components/ui/Sidebar.astro";
import Footer from "../components/ui/Footer.astro";
const siteTitle = "Malvin – Web Developer & IT Student";
const siteDescription =
  "Portfolio of Malvin, a passionate web developer with experience in Next.js, Laravel, and cybersecurity.";
const siteURL = "https://malvolio.vercel.app";
const siteImage = `${siteURL}/android-chrome-512x512.png`;
const { title, description } = Astro.props;
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en" class="text-[90%]">
  <head>
    <title>{siteTitle}</title>
    <meta name="description" content={siteDescription} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />

    <!-- Open Graph for Social Sharing -->
    <meta property="og:title" content={siteTitle} />
    <meta property="og:description" content={siteDescription} />
    <meta property="og:image" content={siteImage} />
    <meta property="og:url" content={siteURL} />
    <meta property="og:type" content="website" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={siteTitle} />
    <meta name="twitter:description" content={siteDescription} />
    <meta name="twitter:image" content={siteImage} />

    <!-- Favicon -->
    <link rel="icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <!-- Script -->
    <script src="/src/scripts/main.js"></script>
    <ViewTransitions />
  </head>
  <body class="bg-max flex min-h-screen flex-col font-mono">
    <div class="flex flex-1 flex-col">
      <Header />
      <Sidebar />
      <main>
        <slot />
      </main>
    </div>
    <Footer />
  </body>
</html>
